---
layout: default
title: Home
---

#About Me

#I am a cultural studies scholar whose research examines the aesthetics of digital activism and visual protest in East and Southeast Asia, with a focus on transnational coalitional solidarity and the performative framing of resistance. Her research is rooted in critical theory, visual rhetoric, and technopolitics, drawing on interdisciplinary frameworks to examine how citizen-activists strategically re-appropriate visual economies and digital platforms to express dissent and challenge systemic injustices, particularly under conditions of democratic fragility, economic precarity, and state-sanctioned violence.
I earned a Ph.D. in Cultural Studies from George Mason University, where my dissertation, “Appropriating Resistance: Popular Culture as Visual Tactic in Sites of Protest,” theorized the semiotic and affective dimensions of protest iconography in pro-democracy movements across Thailand, Hong Kong, and the United States. My research has appeared in Anthropological Notebooks, Hong Kong Studies Journal, and the edited volume Quiet Defiance: The Rhetoric of Silent Protest.

#My current book project, Sign Here: Tracing Protest Symbols and Democratic Futures, examines the commodification and erasure of popular protest symbols in global media ecologies. A second project, Have You Eaten Yet?: Civic Solidarity and Mutual Aid in East and Southeast Asia’s Platform Economies, develops the concept of logistical care to theorize how algorithmic labor and food-sharing practices are mobilized to contest neoliberal governance and cultivate civic intimacy.

#As a first-generation immigrant from Hong Kong, my work is grounded in a commitment to inclusive pedagogy and coalition-building across borders. My teaching spans Cultural Studies, Global Affairs, Modern and Classical Languages, and English Studies. I have held adjunct faculty appointments at George Mason University and lecturer appointments at the College of Interational Education at Hong Kong Baptist University, where I also served as Co-director of the English Support Service and editor of the college’s literary journal. My academic service includes roles on conference planning committees, editorial review boards, and university governance, alongside community-based work supporting immigrant, elder, and migrant worker populations in Hong Kong and New York City.

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}


